{% load static %}
<!-- 
    Index: About page 
-->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Dental Hygiene Clinic ">
  <meta name="author" content="Fleurdelisse Rabanes and Marc John Corral">
  <title>Toothery - Dental Hygiene Clinic </title>

  <link rel="stylesheet" type="text/css" href="{% static 'assets/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

</head>

<body>
  <div>
    <div class="wrapper">
      <div id="navbar">
        <img class="logo" src="{% static 'assets/logo.png' %}">
      </div>
      <nav role='navigation'>
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span><span></span><span></span>
          <ul id="menu">
            <a href="{% url 'toothery:index' %}">
              <li>Home</li>
            </a>
            <a href="{% url 'toothery:services' %}">
              <li>Services</li>
            </a>
            <a href="{% url 'toothery:about' %}">
              <li>About Us</li>
            </a>
            <a href="{% url 'toothery:contact' %}">
              <li>Contact Us</li>
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'toothery:add_book_appointment' pk %}">
              <li>Book Appointment</li>
            </a>
            <a href="{% url 'toothery:book_appointments' pk %}">
              <li>My Appointments</li>
            </a>
            <a href="{% url 'toothery:display_user' pk %}">
              <li>View User Information</li>
            </a>
            <a href="{% url 'users:password' %}">
              <li>Change Password</li>
            </a>
            <a href="{% url 'users:delete_user' pk2 %}">
              <li>Delete Account</li>
            </a>
            <a href="{% url 'logout' %}">
              <li>Log out</li>
            </a>
            {% else %}
            <a href="{% url 'login' %}">
              <li>Log in</li>
            </a>
            <a href="{% url 'users:register' %}">
              <li>Register</li>
            </a>
            {% endif %}
          </ul>
        </div>
      </nav>

    </div>
  </div>
  <div class="bgimg-2">
    <span></span>
  </div>
  <div class="wrapper">
    <div class="base">
      <div class="subtitle">
        <h3>
          Toothery Dental Hygiene Clinic<br>
          Reliable. Professional. Friendly.
        </h3>
      </div>

      <div class="bgimg-5">
      </div>
      <div class="doctor">
        <img class="team_img" src="{% static 'assets/team1.png' %}">
        <h2>Angela L. Reed</h2>
        <p class="job_title">BSc, RDH
          <br>Clinic Doctor
        </p>

      </div>

      <div class="aboutus_container">
        <div class="about_padding2">
          <h2>Dental services the way it should be.</h2>
          <p class="description">
            A standard of excellence in personalized dental care enables us to provide the
            quality dental services our patients deserve. We provide comprehensive treatment
            planning and use restorative and cosmetic dentistry to achieve your optimal dental health.
            Should a dental emergency occur, we make every effort to see and care for you immediately.
            <br> <br>
            Building a foundation of trust by treating our patients as special individuals is vital to our success.
            We understand how uneasy some patients may feel about their dental visits, and how we can make
            a difference in providing a relaxing and positive experience.
            <br><br>
            Make an appointment today…..we’ll give you a reason to smile!
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="base">
    <div class="subtitle" style="margin-top:400px;margin-bottom: 400px;">
      <h3 style="text-align: center;"> Our Clinic</h3>
    </div>
    <div class="clinic">
      <div class="clinic-img" style="margin-right:2% ;">
        <img class="clinic_img" src="{% static 'assets/clinic.png' %}">
      </div>
      <div class="clinic-img">
        <img class="clinic_img" src="{% static 'assets/clinic2.png' %}">
      </div>

      <div class="clinic_bottom">
        <a href="http://127.0.0.1:8000/booking">
          <button class="button">
            <span>Book Now</span>
          </button>
        </a>

      </div>
    </div>

  </div>



  <footer style=" margin-top: 750px;">
    <div class="separator">
      <h2>Toothery<br>
        Dental Hygiene Clinic
      </h2>
      <p class="bio">
        Email: info@mysite.com<br>
        Tel: 123-456-7890<br>
        500 Terry Francois Street<br>
        San Francisco, CA 94158
      </p>

    </div>
    <div class="separator">
      <h2>Quick Links</h2>

      <a class="bio" href="http://127.0.0.1:8000/">Home</a><br>
      <a class="bio" href="http://127.0.0.1:8000/services">Services</a><br>
      <a class="bio" href="http://127.0.0.1:8000/about">About</a><br>
      <a class="bio" href="http://127.0.0.1:8000/contact">Contact</a>

    </div>
    <div class="separator">
      <h2> Clinic Hours</h2>
      <p class="bio">
        Mon. Wed, Thu: 9am to 5pm<br>
        Tue: 11am to 7pm<br>
        Fri: 9am to 1pm<br>
        By Appointment Only
      </p>
      <a href="http://127.0.0.1:8000/contact"><button class="button"><span>Contact Us</span></button></a>
    </div>

  </footer>
  <div class="foot">
    <p class="credits">© Marc John Corral and Fleurdelisse Rabanes CSIT327 F1-C1 AY 2021 - 2022.
  </div>
</body>

</html>